.btn{
    display: inline-block;
    width: px(136);
    height: px(45);
    line-height: px(45);
    @include border-radius(px(22));
    outline: 0;
    font-size: px(18);
    text-align: center;
    background-color: #1389ff;
    color: #fff;
    border: 0;
}
.btn-state-yellow{
    display: inline-block;
    width: px(75);
    height: px(20);
    line-height: px(20);
    @include border-radius(px(10));
    outline: 0;
    font-size: px(12);
    text-align: center;
    background-color: #f5a623;
    color: #fff;
    border: 0;
}
.btn-state-blue{
    background-color: #53cdea;
}
.btn-state-green{
    background-color: #7ed321;
}
.btn-state-gray{
    background-color: #c7c7c7;
}
.btn-state-detail{
    display: inline-block;
    width: px(70);
    height: px(24);
    line-height: px(24);
    @include border-radius(px(12));
    outline: 0;
    font-size: px(12);
    text-align: center;
    background-color: #b3bcc2;
    color: #fff;
    border: 0;
}

.btn-refund{
    display: inline-block;
    width: 100%;
    height: px(50);
    line-height: px(50);
    outline: 0;
    font-size: px(16);
    text-align: center;
    background-color: #ff972e;
    color: #fff;
    border: 0;
}

.btn-mask{
    display: inline-block;
    width: px(96);
    height: px(34);
    line-height: px(34);
    @include border-radius(px(17));
    outline: 0;
    font-size: px(15);
    text-align: center;
    background-color: #1389FF;
    color: #fff;
    border: 0;
}
.btn-mask-yellow{
    background-color: #F5A623;
}