.m-pcalendar {
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    color:#3d3d3d;
    background:#fff;
    font-family:-apple-system,Helvetica,'Hiragino Sans GB W3',arial,sans-serif;
    z-index:9999;
    -webkit-user-select: none;
    min-height:100%;
}

.m-pcalendar-body {
    padding-top:29px;
}

.m-pcalendar-hidden {
    display: none !important;
}

.m-pcalendar-locked > *,
.m-pcalendar-locked .m-pcalendar.m-pcalendar-hidden {
    display:none !important;
}

.m-pcalendar-locked {
    overflow-x: hidden;
}

.m-pcalendar-locked .m-pcalendar {
    display:block !important;
}

.m-pcalendar table {
    width:100%;
    border-collapse:collapse;
    table-layout: fixed;
}

.m-pcalendar-header {
    position:fixed;
    width:100%;
    z-index:5;
    top:0;
    left:0;
    font-size:18px;
    height:46px;
    background:#FFC900;
    display:none;
    -webkit-box-align:center;
    border-bottom:1px solid #e0e0e0;
}

.m-pcalendar-header span {
    display:block;
    padding: 0 10px;
    font-size:15px;
    cursor:pointer;
    height:100%;
    line-height: 46px;
    width: 3em;
}

.m-pcalendar-header .m-pcalendar-cancel {
    text-align: left;
}

.m-pcalendar-header .m-pcalendar-confirm {
    text-align: right;
    visibility:hidden;
}

.m-pcalendar-confirmable .m-pcalendar-confirm {
    visibility: visible;
}

.m-pcalendar-header strong {
    display:block;
    -webkit-box-flex:1;
    text-align:center;
    font-weight:bold;
}

.m-pcalendar-weekday {
    background:#fff;
    position:fixed;
    z-index:5;
    top:0;
    left:0;
    font-size:13px;
}

.m-pcalendar-weekday th {
    height:28px;
    text-align:center;
    font-weight: bold;
    border-bottom:1px solid #e0e0e0;
    width: 14.285714285714286%;
    vertical-align: middle;
}

.m-pcalendar-showheader .m-pcalendar-body {
    padding-top:76px;
}

.m-pcalendar-showheader .m-pcalendar-header {
    display:-webkit-box;
}

.m-pcalendar-showheader .m-pcalendar-weekday {
    top:47px;
}

.m-pcalendar-month {
    height:28px;
    border-bottom:1px solid #e0e0e0;
    display: -webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    font-size:15px;
    font-weight:bold;
    background:#F2F3F4;
}

.m-pcalendar-table {
    border-collapse:separate !important;
}

.m-pcalendar-grid td {
    height:70px;
    text-align:center;
    width: 14.285714285714286%;
    vertical-align: bottom;
    position: relative;
}

.m-pcalendar-grid strong {
    font-size:18px;
    font-weight:normal;
    color:#3D3D3D;
}

.m-pcalendar-selected {
    background:#FFC900 !important;
}

.m-pcalendar-selected-range {
    background:#FFF6D6 !important;
}

.m-pcalendar-disabled {
    background: #FAFAFA !important;
}

.m-pcalendar-disabled strong,
.m-pcalendar-disabled em,
.m-pcalendar-disabled .m-pcalendar-ext {
    color:#CCCCCC !important;
}

.m-pcalendar-note,
.m-pcalendar-day,
.m-pcalendar-ext {
    display: block;
}

.m-pcalendar-note {
    color:#FF5000;
    font-size:12px;
    min-height:18px;
}

.m-pcalendar-ext {
    color:#666666;
    font-size:10px;
    min-height:16px;
}

.m-pcalendar-line {
    position: absolute;
    display:none;
    height:4px;
    background-color:rgba(255,255,255,0.3);
    width:100%;
    left:0;
    top:52px;
}

.m-pcalendar-ext b,
.m-pcalendar-ext .m-pcalendar-highlight {
    color:#ff5b45;
    font-weight:normal;
}

.m-pcalendar-ext .m-pcalendar-check {
    font-weight:normal;
}

.m-pcalendar-weekend strong,
.m-pcalendar-holiday strong {
    color:#FF5000;
}

.m-pcalendar-shownote .m-pcalendar-note {
    visibility:hidden;
}

.m-pcalendar-selected .m-pcalendar-note,
.m-pcalendar-selected-range .m-pcalendar-note {
    visibility:visible;
    color:#3d3d3d !important;
}

.m-pcalendar-selected .m-pcalendar-day,
.m-pcalendar-selected-range .m-pcalendar-day {
    color:#3d3d3d !important;
}

.m-pcalendar-selected .m-pcalendar-ext,
.m-pcalendar-selected .m-pcalendar-ext b,
.m-pcalendar-selected .m-pcalendar-ext .m-pcalendar-highlight,
.m-pcalendar-selected-range .m-pcalendar-ext,
.m-pcalendar-selected-range .m-pcalendar-ext b,
.m-pcalendar-selected-range .m-pcalendar-ext .m-pcalendar-highlight {
    color:#3d3d3d !important;
}

.m-pcalendar-disabled.m-pcalendar-selected-range .m-pcalendar-ext {
    color:#CCCCCC !important;
}

.m-pcalendar-tips{
    position: fixed;
    bottom: 50px;
    font-size:14px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    height: 36px;
    line-height: 36px;
    min-width: 130px;
    padding: 0 10px;
    border-radius: 2px;
    text-align: center;
    left: 50%;
    transform: translate3D(-300%,0,0);
    -webkit-transform: translate3D(-300%,0,0);
    opacity: 0;
}
.m-pcalendar-tips.anim-wipeIn{
    animation: wipeInAnim .5s ease-in ;
    -webkit-animation: wipeInAnim .5s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.m-pcalendar-tips.anim-wipeOut{
    animation: wipeOutAnim .5s ease-in;
    -webkit-animation: wipeOutAnim .5s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes wipeInAnim {
    0% {
        transform : translate3D(-300%, 0, 0);
        -webkit-transform : translate3D(-300%, 0, 0);
        opacity: 0;
    }
    to{
        transform: translate3D(-50%,0,0);
        -webkit-transform: translate3D(-50%,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes wipeOutAnim {
    0% {
        transform: translate3D(-50%,0,0);
        -webkit-transform: translate3D(-50%,0,0);
        opacity: 1;
    }
    99%{
        transform : translate3D(300%, 0, 0);
        -webkit-transform : translate3D(300%, 0, 0);
        opacity : 0;
    }
    to {
        transform : translate3D(900%, 0, 0);
        -webkit-transform : translate3D(900%, 0, 0);
    }
}

.m-pcalendar-error-tips{
    position: fixed;
    top: 50%;
    font-size:14px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    line-height: 22px;
    min-width: 180px;
    padding: 7px 10px;
    border-radius: 2px;
    text-align: center;
    left: 50%;
    transform: translate3d(900%,0,0);
    -webkit-transform: translate3d(900%,0,0);
    opacity: 0;
}

.m-pcalendar-error-tips-anim {
    animation: opacityAnim 2.4s ease;
    -webkit-animation: opacityAnim 2.4s ease;
}

@-webkit-keyframes opacityAnim {
    0%{
        opacity: 0;
        transform: translate3D(-50%,0,0);
        -webkit-transform: translate3D(-50%,0,0);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: translate3D(-50%,0,0);
        -webkit-transform: translate3D(-50%,0,0);
    }
    100%{
        transform: translate3D(900%,0,0);
        -webkit-transform: translate3D(900%,0,0);
    }
}