.checkbox-list{
	width: 100%;
	.checkbox-item{
		font-size: 14px;
		color: #818181;
		height: 50px;
		line-height: 50px;
		border-bottom: 1px solid #B7D9FE;
		position: relative;
		padding-left: 20px;
		.checkbox-icon{
			position: absolute;
			width: 20px;
			height: 20px;
			right: 20px;
			top: 50%;
			margin-top: -10px;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAHtJREFUWAnt2LENgDAMRFFArOXl7cFAiuQs8FO4+DTQHDo9XZrcmfldg59ncLdV7e2CEdGfI95VtXqMF7Qg3YuCClIBmneDClIBmneDClIBmneDClIBmneDClIBmneDClIBmneDClIBmneDClIBmt931H0nTH94Oj/+kPyOMQjixGT1LwAAAABJRU5ErkJggg==) no-repeat center;
			background-size: 20px auto;
			display: inline-block;
		}
		&.active{
			color: #1D5F91;
			.checkbox-icon{
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAd5JREFUWAljLDjC8J9hEAOmQew2sNNGHUhpDI2G4GgIUhoClOofTYNDNgQ5WHgZgpQmMWTp7GHQEw7E6Q8WnDI0lOBg4WPI0N7JIM9jAbZFmc+OoeWsMsP7n48xbKV7GkR3HMhFTIysDHxsUhiOA8thFaWRIDbHgay6++kAw+Mvp7HaSrcQxOW4+5+PMsy57sfw7/+/gXMgPsfNuubJ8OPPZ6yOAwnSPAQpcRzNHUip44hyoDSPAYOJWDQDF4sgSD3RgBqOA1mGtxzUEfZjSNJYz8AITAkffz1hmHbFmeHV91sEHUktx4EswpsGDYRDwY4DKeRnk2HI1tnPIMapBuLiBNR0HMgSvA4EFQHIAFSY4nMktR1H0IHHXsxkOPFyNrIbwSU+NkfSwnEEHfj//3+GVXfTCTqSVo4j6ECQAkKOlOM1Qan4QXpAAJQ8CBXCEJX4SUZiO+6MjIwMYcozGSzEU/GbSEXHgSzCm0mQXYIrJJHVgNjUCjmYuUQ7EKSBkCOp7TiQnSQ5EJ8jaeE4kH14axKQAmwAFpJ3Px1i0BUKANYuNxn2PGlj+Pn3KzblFIkRnUkosoUCzSRHMQV2kaV11IFkBRuSptEQRAoMspijIUhWsCFpGg1BpMAgiwkArOrp2sCfACoAAAAASUVORK5CYII=) no-repeat center;
				background-size: 20px auto;
			}
		}
	}
}