/* reset */
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-style: inherit;
  font-size: 100%;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  line-height: 1; }

li {
  list-style: none; }

a:active {
  outline: 0; }

button[disabled], html input[disabled] {
  cursor: default; }

img {
  vertical-align: middle; }

button, input, select, textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="search"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"]{
  border: 0;
  outline: 0;
  background-color: transparent;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder{
  color: #d1d6de;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

dfn {
  font-style: italic; }

code, kbd, pre, samp {
  font-size: 1em;
  font-family: monospace, serif; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

/* base */
html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  color: #1d5f91;
  font-size: 14px;
  font-family: 'Helvetica', 'Hiragino Sans GB W3', arial, sans-serif;
  -webkit-user-select: none;
  background-color: #eff9ff;
}

a {
  text-decoration: none; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.fr {
  float: right !important; }

.fl {
  float: left !important; }

.hide, .hidden {
  display: none !important; }

.show {
  display: block !important; }

.visible {
  visibility: visible; }

.invisible {
  visibility: hidden; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

@function px($n) {
  //@return (0.5px * $n);
  @return (1rem / 18.75 * $n);
}

@import "compass/css3";
@import "_r1b";
@import "_flexbox";
@import "_animate";
@import '_btn';
@import "_radioGroup";
@import "_checkboxGroup";
@import "_tip";
@import "_icon";
@import "_mask";
@import "_pad";
@import "_calendar";
@import "_picker";

.container{
  width: 100%;
}

.nav-bar {
  height: px(45);
  text-align: center;
  line-height: px(45);
  font-size: px(16);
  color: #fff;
  position: relative;
  background-color: #264ecf;
  .back {
    display: inline-block;
    position: absolute;
    top: 0;
    left: px(15);
    height: 100%;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.5625rem auto;
    text-indent: -9999px;
    overflow: hidden;
  }
}

.flex{
  @include flexbox();
}
.flex-item{
    @include flex(1);
  width: 1px;
}
.flex-item2{
  @include flex(2);
  width: 1px;
}
.flex-item3{
  @include flex(3);
  width: 1px;
}
.flex-item4{
  @include flex(4);
  width: 1px;
}

.fs12{ font-size: px(12);  }
.fs13{ font-size: px(13);  }
.fs14{ font-size: px(14);  }
.fs16{ font-size: px(16);  }
.fs18{ font-size: px(18);  }
.fs24{ font-size: px(24);  }
.lh24{ line-height: px(24);  }
.lh40{ line-height: px(40);  }


.m0{margin:0;}
.mt0{margin-top:0;}
.mt5{margin-top:px(5);}
.mt10{margin-top:px(10);}
.mt15{margin-top:px(15);}
.mt20{margin-top:px(20);}
.mt25{margin-top:px(25);}
.mt30{margin-top:px(30);}
.mt35{margin-top:px(35);}
.mt40{margin-top:px(40);}
.mt45{margin-top:px(45);}
.mt50{margin-top:px(50);}
.mt55{margin-top:px(55);}
.mt60{margin-top:px(60);}
.mb0{margin-bottom:0;}
.mb5{margin-bottom:px(5);}
.mb10{margin-bottom:px(10);}
.mb15{margin-bottom:px(15);}
.mb20{margin-bottom:px(20);}
.mb25{margin-bottom:px(25);}
.mb30{margin-bottom:px(30);}
.mb40{margin-bottom:px(40);}
.mb45{margin-bottom:px(45);}
.mb50{margin-bottom:px(50);}
.ml0{margin-left:0;}
.ml5{margin-left:px(5);}
.ml10{margin-left:px(10);}
.ml15{margin-left:px(15);}
.ml20{margin-left:px(20);}
.ml25{margin-left:px(25);}
.ml30{margin-left:px(30);}
.ml40{margin-left:px(40);}
.ml45{margin-left:px(45);}
.ml50{margin-left:px(50);}
.mr0{margin-right:0;}
.mr5{margin-right:px(5);}
.mr10{margin-right:px(10);}
.mr15{margin-right:px(15);}
.mr20{margin-right:px(20);}
.mr25{margin-right:px(25);}
.mr30{margin-right:px(30);}
.mr40{margin-right:px(40);}
.mr45{margin-right:px(45);}
.mr50{margin-right:px(50);}

.dib{
  display: inline-block;
}
.db{
  display: block;
}

.price{
  color: #ff833b;
}
.price-little{
  font-size: px(13);
  color: #ff833b;
}
.price-green{
  color: #73b90c;
}
