@import "./dpl/_reset";

.refund-list{
  margin-bottom: px(10);
  background-color: #fff;
  .refund-fareInfo{
    padding: px(5) px(20);
    height: px(60);
    line-height: px(50);
    font-size:px(14);
    color:#5d8eb3;
    &.active{
      .rectangle-down{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .people-info-list{
    margin-left: px(20);
    border-top: 1px solid #b7d9fe;
    .people-info-name{
      padding-right: px(20);
      height: px(40);
      line-height: px(40);
      font-size:px(13);
      color:#1d5f91;
      &.active{
        .rectangle-blue-down{
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    .J_PeoInfoOpen{
      border-top: 1px solid #b7d9fe;
      .people-ticket-list{
        margin-right: px(20);
        padding: px(13) 0;
        line-height: px(28);
        color: #515151;
        font-size: px(13);
        border-bottom: 1px solid #b7d9fe;
        &:last-child{
          border-bottom: 0;
        }
      }
    }
  }
  .price-list{
    background-color: #d2f1ff;
    font-size: px(13);
    color: #515151;
    font-weight: 600;
    .price-item{
      margin: 0 px(20);
      height: px(44);
      line-height: px(44);
      border-bottom: 1px solid #99bee6;
      &:last-child{
        border-bottom: 0;
      }
    }
  }
}

.refund-reason{
  background-color: #fff;
  margin-bottom: px(15);
  .refund-cause{
    position: relative;
    padding-left: px(20);
    height: px(60);
    line-height: px(60);
    font-size: px(14);
    color: #5D8EB3;
    .reason-type{
      font-size: px(16);
      color: #1d5f91;
    }
  }
  .refund-text{
    margin: 0 px(20) px(20);
    padding-bottom: px(15);
    .refund-con{
      border: 1px solid #B7D9FE;
      .textarea{
        display: block;
        border: 0;
        resize: none;
        width: 100%;
        padding: px(20);
        color: #272727;
        font-size: px(14);
        line-height: px(20);
        outline: 0;
        background-color: #fff;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        border-radius: 0;
      }
    }

  }
}

.refund-remark{
  padding: 0 px(20);
  background-color: transparent;
  font-size: px(12);
  .remarks-column{
    color: #ff8f38;
  }
  .refund-rule{
    color: #ff7220;
    text-decoration: underline;
  }
}
