@import "./dpl/_reset";

.no-order{
    margin-top: px(120);
    p{
        margin-top: px(42);
        color:#9db0d0;
    }
}
.order-list{
    margin-bottom: px(10);
    padding: 0 px(15) px(20);
    background-color: #fff;
    .order-title{
        height: px(40);
        line-height: px(40);
        font-size: px(12);
        border-bottom: 1px solid #b7d9fe;
    }
    .order-btn{
        position: relative;
        top: px(-4);
    }
    .order-time{
        color: #5d8eb3;
    }
}


.tab-bar{
    width: 100%;
    margin: 0 auto;
    background-color: #4b88f1;
    border: 0;
    .bar-item{
        width: 50%;
        height: px(40);
        line-height: px(40);
        float: left;
        color: #fff;
        font-size: px(14);
        text-align: center;
        span{
            display: inline-block;
            padding: 0 px(1);
            position: relative;
        }
    }
    .bar-item.active{
        span{
            &:after{
                content: ' ';
                position: absolute;
                bottom: px(-1);
                left: 0;
                width: 100%;
                height: px(3);
                @include border-radius(px(3));
                background-color: #FFBC30;
            }

        }
    }
}
.form-panel{
    padding-left: px(30);
    background-color: #fff;
    .item{
        position: relative;
        height: px(60);
        line-height: px(60);
        border-bottom: 1px solid #c6deea;
        &:last-child{
            border-bottom: 0;
        }
        label{
            display: inline-block;
            width: px(80);
            font-size: px(14);
            color: #5d8eb3;
        }
        input{
            width: px(220);
            height: px(20);
            font-size: px(16);
            color: #1d5f91;
        }
    }
}

