@import "./dpl/_reset";

.order-detail-info{
  margin-bottom: px(10);
  background-color: #fff;
  font-size: px(12);
  .order-detail-time{
    padding: 0 px(15);
    height: px(30);
    line-height: px(30);
  }
  .order-detail-gray {
    background-color: #c7c7c7;
    color: #fff;
  }
  .order-detail-yellow{
    background-color: #fff18b;
    color: #6b4b00;
  }
  .order-detail-green{
    background-color: #cff497;
    color: #4a7b00;
  }
  .order-detail-state{
    padding: 0 px(15);
    height: px(40);
    line-height: px(40);
    .state-name {
      color: #878787;
    }
    .state{
      font-size: px(13);
      color: #515151;
    }
    .re-time{
      font-size: px(12);
      color: #ffa629;
    }
  }
  .order-detail-state2{
    margin-top: px(-15);
    padding: 0 px(15);
    height: px(40);
    line-height: px(40);
    color: #ff833b;
    font-size: px(22);
    .state-wait{
      display: inline-block;
      padding-right: px(10);
    }
  }
  .order-detail-state-drawn{
    background-color: #fff;
    font-size: px(13);
    padding-left: px(15);
    color: #515151;
    .state-drawn{
      padding-right: px(15);
      height: px(40);
      line-height: px(40);
      border-top: 1px solid #b7d9fe;
      &:first-child{
        border: 0;
      }
      .state-name{
        font-size: px(12);
        color: #878787;
      }
      .drawn{
        color: #4a7b00;
      }
    }

  }


}

.order-detail-flight{
  margin-bottom: px(10);
  background-color: #fff;
  font-size: px(12);
  .order-flight-title{
    padding: 0 px(15);
    height: px(30);
    line-height: px(30);
    font-size: px(12);
    background-color: #def5ff;
    color: #1d5f91;
    .re-rule{
      color: #4372c3;
      font-size: px(10);
      text-decoration: underline;
    }
  }
  .order-flight-oneWay{
    padding-left: px(33);
    padding-right: px(15);
    height: px(30);
    line-height: px(30);
    font-size: px(12);
    background: url('../images/icon/trip-icon.png') left center no-repeat;
    background-size: px(27);
    background-color: #ffedc0;
    color: #1d5f91;
    .re-rule{
      color: #4372c3;
      font-size: px(10);
      text-decoration: underline;
    }
  }
  .order-flight-douWay{
    padding-left: px(33);
    padding-right: px(15);
    height: px(30);
    line-height: px(30);
    font-size: px(12);
    background: url('../images/icon/return-icon.png') left center no-repeat;
    background-size: px(27);
    background-color: #def5ff;
    color: #1d5f91;
    .re-rule{
      color: #4372c3;
      font-size: px(10);
      text-decoration: underline;
    }
  }
  .order-flight-con{
    padding: 0 px(15);
    .order-flight-con-title{
      height: px(30);
      line-height: px(30);
      font-size: px(12);
      color: #5d8eb3;
      border-bottom: 1px solid #b7d9fe;
      .order-flight-model{
        display: inline-block;
        position: relative;
        top: px(-12);
        height: px(14);
        line-height: px(14);
        padding: 0 px(5);
        @include border-radius(px(7));
        font-size: px(9);
        background-color: #aae5ff;
        color: #3768a0;
      }
    }
    .order-flight-con-con{
      padding: px(15) 0;
      .area{
        h1{
          font-size: px(24);
          line-height: 1;
          font-weight: normal;
        }
        p{
          font-size: px(11);
          color:#5d8eb3;
          line-height: 1.5;
        }
      }
      .stop-over{
        position: relative;
        margin: px(11) px(10) 0;
        width: px(65);
        height: px(1);
        background-color: #d7d7d7;
        text-align:center;
        p{
          font-size: px(11);
          color:#5d8eb3;
          line-height: 1.2;
        }
      }
      .shipping-space{
        font-size:px(11);
        color:#6e6e6e;
        line-height: px(42);
      }
    }
  }
}

.order-detail-oppo{
  margin-bottom: px(10);
  background-color: #fff;
  font-size: px(12);
  padding-left: px(15);
  .order-detail-oppo-title{
    padding-right: px(15);
    height: px(50);
    line-height: px(50);
    .oppo-info{
      font-size:px(14);
      color:#878787;
    }
    .people-class{
      font-size: px(10);
      color:#878787;
      .red{
        color: #ff6e6e;
      }
    }
    &.active{
      .rectangle-down{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .order-detail-oppo-list{
    padding: px(13) 0;
    height: px(60);
    border-top: 1px solid #b7d9fe;
    .order-detail-oppo-name{
      font-size:px(16);
      color:#515151;
      line-height:1;
    }
    .order-detail-oppo-card{
      font-size: px(12);
      color:#878787;
      line-height:1.5;
    }
  }

}

.order-detail-contact{
  margin-bottom: px(10);
  background-color: #fff;
  font-size: px(16);
  color: #515151;
  padding: 0 px(15);
  height: px(50);
  line-height:px(50);
  .contact-info{
    font-size: px(14);
    color: #878787;
  }
}

.order-detail-price{
  margin-bottom: px(10);
  background-color: #fff;
  font-size: px(13);
  color: #515151;
  .order-detail-price-title{
    padding: 0 px(15);
    height: px(50);
    line-height:px(50);
    .price-info{
      font-size: px(14);
      color: #878787;
    }
    .rectangle-down{
      right: 0;
    }
  }
  .order-detail-price-list{
    margin: 0 px(15);
    padding: px(10) 0;
    line-height: px(28);
    border-top: 1px solid #b7d9fe;
  }

}

.fill{
  width: 100%;
  height: px(100);
  background-color: transparent;
}
.fixed-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  .footer-refund{
    height: px(50);
    line-height: px(50);
    background-color: #fff;
    border-top: 1px solid #c3c3c3;
    .total-price{
      padding-left: px(15);
      &.active{
        .rectangle-down-little{
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    .price-details{
      float: right;
      display: inline-block;
      padding-right: px(5);
      font-size:px(11);
      color:#8e8e8e;
    }
  }

  .footer-apply-refund{
    height: px(50);
    background-color: #439eff;
    color: #fff;
    font-size: px(10);
    text-align: center;
    .apply-refund-icon{
      display: inline-block;
      position: relative;
      width: px(20);
      height: px(20);
      margin: px(7);
      vertical-align: middle;
      background: url(../images/icon/apply-refund-icon.png) no-repeat center center;
      background-size: px(20);
    }
  }
}


.mask-panel-price{
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  .mask-page-price{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }
}
.price-panel{
  position: absolute;
  bottom: px(50);
  left: 0;
  width: 100%;
  background-color: #fff;
  .content-price{
    padding: 0 px(20);
    .content-price-list{
      padding: px(10) 0;
      border-bottom: 1px solid #b7d9fe;
      &:last-child{
        border-bottom: 0;
      }
      .content-price-group{
        line-height: px(27);
        font-size: px(13);
        color: #515151;
      }
    }
  }
}