@import "./dpl/_reset";

.refund-success{
  width: 100%;
  height: px(80);
  background: url(../images/refund-success.png) top center no-repeat;
  background-size: 100%;
}
.refund-fail{
  width: 100%;
  height: px(80);
  background: url(../images/refund-fail.png) top center no-repeat;
  background-size: 100%;
}

.choose-people{
  padding-left: px(20);
  background: #fff;
  .choose-people-list{
    height: px(80);
    padding: px(20) 0;
    border-bottom: 1px solid #b7d9fe;
    &:last-child{
      border-bottom: 0;
    }
    .checkbox-btn{
      text-align: center;
      .checkbox-icon{
        display: inline-block;
        position: relative;
        width: px(20);
        height: px(20);
        vertical-align: middle;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAHtJREFUWAnt2LENgDAMRFFArOXl7cFAiuQs8FO4+DTQHDo9XZrcmfldg59ncLdV7e2CEdGfI95VtXqMF7Qg3YuCClIBmneDClIBmneDClIBmneDClIBmneDClIBmneDClIBmneDClIBmneDClIBmt931H0nTH94Oj/+kPyOMQjixGT1LwAAAABJRU5ErkJggg==) no-repeat center center;
        background-size: px(20) auto;
      }
      &.active{
        .checkbox-icon{
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAd5JREFUWAljLDjC8J9hEAOmQew2sNNGHUhpDI2G4GgIUhoClOofTYNDNgQ5WHgZgpQmMWTp7GHQEw7E6Q8WnDI0lOBg4WPI0N7JIM9jAbZFmc+OoeWsMsP7n48xbKV7GkR3HMhFTIysDHxsUhiOA8thFaWRIDbHgay6++kAw+Mvp7HaSrcQxOW4+5+PMsy57sfw7/+/gXMgPsfNuubJ8OPPZ6yOAwnSPAQpcRzNHUip44hyoDSPAYOJWDQDF4sgSD3RgBqOA1mGtxzUEfZjSNJYz8AITAkffz1hmHbFmeHV91sEHUktx4EswpsGDYRDwY4DKeRnk2HI1tnPIMapBuLiBNR0HMgSvA4EFQHIAFSY4nMktR1H0IHHXsxkOPFyNrIbwSU+NkfSwnEEHfj//3+GVXfTCTqSVo4j6ECQAkKOlOM1Qan4QXpAAJQ8CBXCEJX4SUZiO+6MjIwMYcozGSzEU/GbSEXHgSzCm0mQXYIrJJHVgNjUCjmYuUQ7EKSBkCOp7TiQnSQ5EJ8jaeE4kH14axKQAmwAFpJ3Px1i0BUKANYuNxn2PGlj+Pn3KzblFIkRnUkosoUCzSRHMQV2kaV11IFkBRuSptEQRAoMspijIUhWsCFpGg1BpMAgiwkArOrp2sCfACoAAAAASUVORK5CYII=) no-repeat center;
          background-size: px(20) auto;
        }
      }
    }
    .returned-ticket{
      display: inline-block;
      position: relative;
      width: px(60);
      height: px(20);
      line-height: px(20);
      vertical-align: middle;
      background-color: #c7c7c7;
      color: #fff;
      font-size: px(12);
      @include border-radius(px(10));
    }
    .people-name{
      font-size: px(16);
      color:#1d5f91;
      line-height: 1;
      padding-bottom: px(10);
    }
    .people-card{
      font-size: px(12);
      color:#5d8eb3;
      line-height: 1;
    }
    .people-flight-type{
      font-size: px(10);
      color: #878787;
      line-height: 1;
      padding-bottom: px(10);
    }

  }
  .total{
    padding: 0;
    height: px(60);
    line-height: px(60);
    font-size: px(12);
    color:#515151;
  }

}
